In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/csv/haneul_reviews.csv')

In [3]:
df.head()

  place_name                                        review_text
0       하늘공원  하늘공원은 억새춘제기간이 아니면 볼게 없다고 하지만 억새가 없어도 작가들의 조각품이...
1       하늘공원  억새축제 보러갔고 매우 예쁘다. 역에서 걸어와도 무난한 거리고, 별도로 열차타고 올...
2       하늘공원  연말에 일몰 보러 방문했어요. 정상까지 가는 길이 계단과 둘렛길이 있는데, 계단은 ...
3       하늘공원  서울에서 꼭 가봐야 할 명소라면 추천할 곳이 많지만, 가을에는 역시 서울 마포구 6...
4       하늘공원  하늘공원 억새축제 때 다녀왔었습니다. 맹꽁이 열차 타면 편하게 왔다 갔다 할 수 있...

In [4]:
counter = pd.DataFrame(columns=['keyword', 'count'])

In [5]:
counter

Empty DataFrame
Columns: [keyword, count]
Index: []